:root {
  --golden-tainoi: #fec260;
  --lipstick: #a12568;
  --christalle: #3b185f;
  --link-water: #c5c6c7;
  --blackcurrant: #2a0944;
  --bunker: #1f2833;
}

::selection {
  background-color: var(--lipstick);
  color: var(--bunker);
}

html {
  /* set 1rem to 10px */
  font-size: 62.5%;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-family: "Saira Stencil One", cursive;
  font-size: 3.75rem;
  color: var(--golden-tainoi);
  float: left;
  font-weight: 700;
}

h3,
a {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
}

header {
  padding: 2rem 2rem;
  text-align: center;
  background: var(--blackcurrant);
  overflow: hidden;
}

nav {
  background-color: var(--lipstick);
  display: flex;
  justify-content: flex-end;
}

nav a {
  padding: 1rem 1rem;
  color: var(--link-water);
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--christalle);
  color: var(--golden-tainoi);
}

/* Add a color to the active/current link */
a.active,
nav a.active {
  color: var(--link-water);
}

main {
  background-color: var(--christalle);
  display: flex;
  flex-flow: row wrap;
}

footer {
  padding: 2rem;
  text-align: center;
  background: var(--golden-tainoi);
  color: var(--blackcurrant);
}

.row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding: 1rem;
  justify-content: center;
}

.container {
  flex: 50%;
  max-width: 80%;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: var(--bunker);
}

#about-me,
#my-work,
#contact-me,
#git,
#linkedin {
  padding: 2rem;
  font-size: 2.5rem;
  color: var(--golden-tainoi);
}

.container p {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--link-water);
}

.container img {
  border-radius: 1.5%;
  float: right;
  flex: 50%;
}

.avatar img {
  float: left;
  vertical-align: middle;
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
}

.project {
  min-width: 35rem;
  min-height: 35rem;
  background: var(--blackcurrant);
  border-radius: 1.5%;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  flex: 1 0 35rem;
  margin: 3rem;
  color: var(--link-water);
}

#Generator {
  flex: 2 1 35rem;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }

  /*   nav a {
    width: 3.5em;
    height: 0.5em;
    background-color: var(--black-russian);
    margin: 06em 0;
  } */
}
